.more-screen {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 0px var(--horizontal-space);
  padding-top: -5px;
  margin-bottom: 65px;
}

.more-screen::-webkit-scrollbar {
  opacity: 0%;
  width: 10px;
}

.more-screen::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5px;
}

h5 i {
  margin-left: 5px;
  font-size: 17px;
  color: rgba(71, 132, 212, 0.7);
}

.more-suggestions {
  margin-top: 20px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin: 5px 0px 15px 0px;
}
